@page "/BlogPost"

<PageTitle>Index</PageTitle>

<h1>Index</h1>
<p>
    <a href="/BlogPost/Create">Create New</a>
</p>
@if (blogPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@nameof(BlogPostViewModel.Id)</th>
                <th>@nameof(BlogPostViewModel.PostImage)</th>
                <th>@nameof(BlogPostViewModel.Title)</th>
                <th>@nameof(BlogPostViewModel.Content)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogpost in blogPosts)
            {
                <tr>
                    <td>@blogpost.Id</td>
                    <td>
                        @if (blogpost is not null && !string.IsNullOrEmpty(blogpost.PostImage))
                        {
                            <div class="form-control">
                                @*<img src="data:@selectedImage.ContentType;base64,@selectedImage.Base64data" height="200" />*@
                                <img src="/images/@blogpost.PostImage"
                                     height="50" />
                            </div>
                        }
                    </td>
                    <td>@blogpost.Title</td>
                    <td>@blogpost.Content</td>
                    <td>
                        <a href="/BlogPost/Details/@blogpost.Id">Details</a> |
                        <a href="/BlogPost/Edit/@blogpost.Id">Edit</a> |
                        <a href="/BlogPost/Delete/@blogpost.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private IEnumerable<BlogPostViewModel>? blogPosts;

    protected override async Task OnInitializedAsync()
    {
        if (blogPosts == null)
        {
            var result = await BlogPostService.GetAllAsync();
            blogPosts = Mapper.Map<IEnumerable<BlogPost>, IEnumerable<BlogPostViewModel>>(result);
        }
    }

}
