@page "/BlogPost/Details/{id:int}"

@using AutoMapper
@using BlazorAppSerilogLogging.Data;
@using BlazorAppSerilogLogging.Models;
@using BlazorAppSerilogLogging.Services;
@using BlazorAppSerilogLogging.ViewModels;

@inject IMapper Mapper
@inject NavigationManager NavigationManager
@inject BlogPostService BlogPostService

<PageTitle>Details</PageTitle>

<h1>Details</h1>
@if (blogPost == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <h4>BlogPost</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @nameof(BlogPost.Id)
            </dt>
            <dd class="col-sm-10">
                @blogPost.Id
            </dd>
            <dt class="col-sm-2">
                @nameof(BlogPost.Title)
            </dt>
            <dd class="col-sm-10">
                @blogPost.Title
            </dd>
            <dt class="col-sm-2">
                @nameof(BlogPost.Content)
            </dt>
            <dd class="col-sm-10">
                @blogPost.Content
            </dd>
        </dl>
    </div>
    <div>
        <a href="/BlogPost/Edit/@blogPost.Id">Edit</a> |
        <a href="/BlogPost">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public int id { get; set; }

    private BlogPostViewModel? blogPost;

    protected override async Task OnInitializedAsync()
    {
        if (blogPost == null)
        {
            var result = await BlogPostService.GetbyId(id);
            if (result != null)
                blogPost = Mapper.Map<BlogPost, BlogPostViewModel>(result);
        }
    }

}
